# Daily reboot
27 3 * * *      root    reboot
# Check for updated packages every sunday, upgrade and reboot
27 16 * * 0     root    apt autoclean -y && apt autoremove -y && apt update -y && apt upgrade -y && sleep 10 && reboot
#